In [1]:
a = 222
print(a)

222

In [5]:
print( type(a))

<class 'int'>

In [ ]:
a = [1,2]

In [7]:
a = [1,2]
b = a
b.append(3)
print(b)

[1, 2, 3]

In [8]:
print(len(b))

3

In [9]:
a = 1110000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
print (2*a)

2220000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [17]:
neg = 1
while(neg):
    age= int(input("het 3omrek: "))
    neg = (age<0)
if(age > 100):
    print('test')
elif(age < 50):
    print('ttt')
else:
    print('between 50 and 100')

het 3omrek: -33
het 3omrek: -22
het 3omrek: 22
ttt

In [25]:
ins = "INSAT"
r = ""
for i in range(0, len(ins)):
    r += ins[len(ins)-i-1]
print(r)
print(ins[::-1])

TASNI
TASNI

In [26]:
def function(x) :
	if x <= 1 :
		return x
	else :
		return (function(x-1)+function(x-2))
print(function(6))

8

In [29]:
class Etudiant():
    pass
e1 = Etudiant()
print(type(e1))

<class '__main__.Etudiant'>